
<div class="relative h-screen flex items-center justify-center bg-cover bg-center">
    <!-- Overlay con degradado sutil -->
    <div class="absolute inset-0 bg-gradient-to-b from-black/80 via-black/50 to-transparent"></div>
    
    <!-- Contenido principal sin bordes duros -->
    <div class="relative z-10 max-w-3xl text-center text-white px-8 py-12 bg-white/10 backdrop-blur-md shadow-lg" style="border-radius: 30px; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));">
      <div class="max-w-lg mx-auto bg-white/10 backdrop-blur-md shadow-lg rounded-xl p-6">
        <div class="flex flex-col items-center">
          <img class="rounded-t-lg" src="../MakeWeb_MW.svg" alt="MakeWeb Logo" />
          <fieldset class="w-full rounded-xl border border-gray-300 dark:border-gray-700 p-6 bg-white/10">
            <legend class="text-4xl font-extrabold text-white px-4">Nosotros</legend>
            <p class="text-lg text-gray-300 font-light mt-4">
              <strong class="underline decoration-[#e92210] text-[18px]">Somos una pareja</strong> de desarrolladores apasionados por crear soluciones web innovadoras mientras impulsamos el uso de nuevas tecnologías para maximizar el impacto en línea.
            </p>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
