<div class="absolute inset-0 flex items-center justify-center z-20 bg-black">
    <div class="relative w-24 h-24">
      <div class="absolute w-6 h-6 bg-white rounded-full animate-ping"></div>
      <div class="absolute w-4 h-4 bg-blue-400 rounded-full animate-spin"></div>
      Queso
    </div>
  </div>
</div>
