<div class="relative h-screen flex items-center justify-center bg-cover bg-center" >
  <!-- Overlay con degradado sutil >
  <div class="absolute inset-0 bg-gradient-to-b from-black/80 via-black/50 to-transparent"></div-->
  
  <!-- Contenido principal sin bordes duros -->
  <div class="relative z-10 max-w-3xl text-center px-8 py-12 bg-gray-400/10 backdrop-blur-md shadow-lg rounded-[30px] bg-gradient-to-b from-white/10 to-white/0" >
    <h2 class="gradient-overlay text-4xl text-white md:text-7xl font-extrabold tracking-tight drop-shadow-lg mb-6">
      Potencia tu Negocio
    </h2>
    <p class="text-lg md:text-2xl font-light leading-relaxed max-w-2xl mx-auto mb-8">
      Con <a href="#" class="font-semibold text-indigo-300">MakeWeb</a>,  tu presencia digital está a un clic de distancia.
      <br>Creamos tu sitio web con calidad, confianza y estabilidad, para que llegues a donde quieras llegar.
    </p>
   
  </div>
</div>




<style>
  .gradient-overlay {
    background: linear-gradient(
      45deg,
      #9333ea,
      #3b82f6,  
      #422f4b,
      #e01515
    );
    -webkit-background-clip: text;
    background-size: 300% 300%;
    background-clip: text;
    color : transparent;
    text-transform: uppercase;
    animation: gradient 5s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>